<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
</head>
<body>
	<div style="text-align:center;">
		<img src="/img/logo.png" style="width:500px;" alt="logo">
	</div>

	{{{body}}}

</body>
</html>